@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
}
.section_3 .section_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  margin-bottom: 50px;
}
.section_3 .section_top h1 {
  color: #3a3a3a;
  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  font-size: 43px;
  padding-bottom: 20px;
}
.section_3 .section_top p {
  color: #3a3a3a;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.section_3 .section_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.section_3 .section_bottom .section_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section_3 .section_bottom .section_left .section_left_img {
  width: 554px;
  height: 397px;
  border-radius: 5px;
  background-image: url(/image/canada-ontario-niagara-falls-2\ 1.png);
}
.section_3 .section_bottom .section_left .section_left_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.section_3 .section_bottom .section_left .section_left_text h1 {
  font-weight: 500;
  color: #3a3a3a;
  font-family: "Readex Pro", sans-serif;
  font-size: 19px;
}
.section_3 .section_bottom .section_left .section_left_text p {
  width: 470px;
  color: #3a3a3a;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.section_3 .section_bottom .section_left .section_left_text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
}
.section_3 .section_bottom .section_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.section_3 .section_bottom .section_right .section_right_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}
.section_3 .section_bottom .section_right .section_right_card .card_img {
  width: 263px;
  height: 201px;
  border-radius: 5px;
}
.section_3 .section_bottom .section_right .section_right_card .card_text {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.section_3 .section_bottom .section_right .section_right_card .card_text h1 {
  font-weight: 500;
  color: #3a3a3a;
  font-family: "Readex Pro", sans-serif;
  font-size: 19px;
  width: 226px;
  height: 30px;
}
.section_3 .section_bottom .section_right .section_right_card .card_text p {
  width: 243px;
  height: 60px;
  color: #3a3a3a;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.section_3 .section_bottom .section_right .section_right_card .card_text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #3a3a3a;
  height: 30px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Readex Pro", sans-serif;
}

.footer {
  width: 100%;
  height: 280px;
  background-color: rgba(239, 239, 239, 0.8196078431);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 110px;
}

.footer_container {
  width: 180px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter", sans-serif;
}
.footer_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-size: 16px;
}
.footer_container ul a {
  color: #3a3a3a;
  font-weight: 400;
  font-size: 14px;
}

.footer_logo {
  height: 30px;
  width: 200px;
}

.footer_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.footer_icon a img {
  width: 30px;
  height: 30px;
}

#footer_logo_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: 200px;
}
#footer_logo_img img {
  width: 100%;
  height: 20px;
}
#footer_logo_img #logo_footer_img2 {
  height: 40px;
  width: 40px;
}

.footer_inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer_inp p {
  padding-left: 20px;
  color: #3a3a3a;
  font-weight: 400;
  font-size: 16px;
}

.footer_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_input input {
  border: solid #3a3a3a 0.7px;
  border-radius: 20px 0 0 20px;
  padding-left: 10px;
  border-right: none;
  width: 140px;
}
.footer_input button {
  border: none;
  background-color: #3a3a3a;
  color: #F8F9FA;
  border-radius: 0 20px 20px 0;
}

#footer_btn {
  width: 103px;
  height: 44px;
}